<template>
    <h1 class="heading">{{ title }}</h1>
</template>

<script>

export default {
    name: 'BestHeading',

    props: {
        title: {
            type: String,
            required: true
        }
    }
}
</script>

<style scoped>
.heading {
    font-size: clamp(1.5rem, 2.604vw, 3.125rem);
    padding: 1em 0;
}
</style>
