<template>
    <ul class="products__list">
        <ProductItem v-for="product in productsData" :product="product" :key="product.id" />
    </ul>
</template>

<script>
import ProductItem from './ProductItem/ProductItem.vue';

export default {
    name: 'ProductsList',

    components: {
        'ProductItem': ProductItem
    },

    data() {
        return {
            productsData: [
                {
                    id: 0,
                    title: 'nike',
                    imageUrl: require('../../assets/images/nike.webp')
                },

                {
                    id: 1,
                    title: 'asics',
                    imageUrl: require('../../assets/images/asics.jpg')
                },

                {
                    id: 2,
                    title: 'puma',
                    imageUrl: require('../..//assets/images/puma.webp')
                },
            ]

        }
    }
}
</script>

<style scoped>
.products__list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));
    gap: 1rem;
}
</style>
