<template>
    <li class="product-item">
        <img class="product-item__image" :src="product.imageUrl" alt="sneaker">
        <p class="product-item__title">{{ product.title }}</p>
    </li>
</template>

<script>

export default {
    name: 'ProductItem',

    props: {
        product: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>
.product-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: .8em;
    padding: .9375rem;
    background-color: #2e282e;
}

.product-item__title {
    font-size: 1.3rem;
    letter-spacing: .3em;
    color: #fff;
}

.product-item__image {
    max-width: 100%;
    aspect-ratio: 1;
}
</style>
