<template>
  <div id="app">
    <div class="container">
      <BestHeading title='Adaptive products list' />

      <ProductsList />
    </div>

  </div>
</template>

<script>
import BestHeading from './shared/ui/BestHeading.vue';
import ProductsList from './components/ProductsList/ProductsList.vue'

export default {
  name: 'App',

  components: {
    'ProductsList': ProductsList,
    'BestHeading': BestHeading,
  }
}
</script>

<style>
@import './styles/main.css';
</style>
